In [ ]:
import pandas as pd

# Mapowania

In [ ]:
mapowanie_pkd_2007_2025 = pd.read_excel(r"..\data\mapowanie_pkd.xlsx", sheet_name="MAP_PKD_2007_2025")
# mapowanie_pkd_2025_2007 = pd.read_excel(r"..\data\mapowanie_pkd.xlsx", sheet_name="MAP_PKD_2025_2007")
pkd_2025 = pd.read_excel(r"..\data\mapowanie_pkd.xlsx", sheet_name="PKD_2025")
# pkd_2007 = pd.read_excel(r"..\data\mapowanie_pkd.xlsx", sheet_name="PKD_2007")

# Upadlosci - KRZ_PKD
krz_pkd.csv - przypisanie liczby upadłości firm z Krajowego Rejestru Zadłużonych do PKD
(2007) od 2018 roku -
**poziom podklasy**

In [27]:
upadlosci = pd.read_csv(r"..\data\krz_pkd.csv", sep=";", encoding="utf-8")

In [28]:
upadlosci["pkd_formatted"] = (
    upadlosci["pkd"]
    .str.strip()
    .str.upper()
    .str.replace(r"^(\d{2})(\d{2})([A-Z])$", r"\1.\2.\3", regex=True)
)

In [29]:
upadlosci["pkd_formatted_no_letter"] = upadlosci["pkd_formatted"].str.replace(r"\.[A-Z]$", "", regex=True)
upadlosci["pkd_letter"] = upadlosci["pkd_formatted"].str.extract(r"\.([A-Z])$")

upadlosci_mapped = upadlosci.merge(
    mapowanie_pkd_2007_2025[["symbol_2007", "symbol_2025"]],
    how="left",
    left_on="pkd_formatted_no_letter",
    right_on="symbol_2007"
)

In [30]:
upadlosci_mapped["pkd_2025"] = upadlosci_mapped["symbol_2025"] + '.' + upadlosci_mapped["pkd_letter"]

In [32]:
upadlosci_final = upadlosci_mapped[["rok", "pkd_2025", "liczba_upadlosci"]]

In [33]:
upadlosci_final

       rok pkd_2025  liczba_upadlosci
0     2018  01.11.Z                 6
1     2018  01.13.Z                 4
2     2018  01.19.Z                 2
3     2018  01.24.Z                 1
4     2018  01.29.Z                 1
...    ...      ...               ...
2540  2024  96.21.Z                12
2541  2024  96.22.Z                12
2542  2024  96.30.Z                 1
2543  2024  93.13.Z                 1
2544  2024  96.99.Z                 2

[2545 rows x 3 columns]

In [ ]:
# dup_mask = upadlosci.duplicated()
# dup_count = dup_mask.sum()
# upadlosci[dup_mask]

Empty DataFrame
Columns: [rok, pkd, liczba_upadlosci]
Index: []