In [4]:
import pandas as pd
import os

# Define paths
results_dir = '../results'

# Read CSV files
kpi_value_table = pd.read_csv(os.path.join(results_dir, 'kpi-value-table.csv'), sep=';')
pkd_dictionary = pd.read_csv(os.path.join(results_dir, 'pkd_dictionary.csv'), sep=';')
pkd_typ_dictionary = pd.read_csv(os.path.join(results_dir, 'pkd_typ_dictionary.csv'), sep=';')
wskaznik_dictionary = pd.read_csv(os.path.join(results_dir, 'wskaznik_dictionary.csv'), sep=';')

In [5]:
# Merge dataframes to get 'typ' information
pkd_enhanced = pkd_dictionary.merge(pkd_typ_dictionary, on='TYP_INDEX', how='left')
df_view = kpi_value_table.merge(pkd_enhanced[['PKD_INDEX', 'typ']], on='PKD_INDEX', how='left')

# Select a specific 'typ'
selected_typ = 'SEKCJA'  # Change this to filter by other types like 'DZIAŁ', 'GRUPA', etc.

# Filter the dataframe by typ
df_view_filtered_by_typ = df_view[df_view['typ'] == selected_typ]

# Display the result filtered by typ
print(f"Filtered by typ: {selected_typ}")
display(df_view_filtered_by_typ.head())
print(f"Shape after typ filter: {df_view_filtered_by_typ.shape}")

Filtered by typ: SEKCJA

     rok   wartosc  WSKAZNIK_INDEX  PKD_INDEX     typ
24  2005   1500.00               3     1741.0  SEKCJA
25  2005   1216.00              15     1741.0  SEKCJA
26  2005  15349.29               5     1741.0  SEKCJA
27  2005       NaN              16     1741.0  SEKCJA
28  2005  14177.05               4     1741.0  SEKCJA

Shape after typ filter: (10080, 5)

In [6]:
# Merge kpi_value_table with wskaznik_dictionary to get 'WSKAZNIK' column
kpi_value_table_merged = kpi_value_table.merge(wskaznik_dictionary, on='WSKAZNIK_INDEX', how='left')

# Select specific 'WSKAZNIK' (indicators)
# Leave empty list [] to select all, or provide a list of names or indices
selected_wskazniki = ['EN Liczba jednostek gospodarczych ', 'NP Wynik finansowy netto (zysk netto) '] 
# Example: ['EN Liczba jednostek gospodarczych', 'NP Wynik finansowy netto (zysk netto)']

# Check available WSKAZNIK values in the filtered dataframe
print("Available WSKAZNIK values:", kpi_value_table_merged['WSKAZNIK'].unique())

# Filter the dataframe by wskaznik
if selected_wskazniki:
    df_view_final = kpi_value_table_merged[kpi_value_table_merged['WSKAZNIK'].isin(selected_wskazniki)]
else:
    df_view_final = kpi_value_table_merged.copy()

# Display the result
if selected_wskazniki:
    print(f"Filtered by wskazniki: {selected_wskazniki}")
display(df_view_final.head())
print(f"Shape: {df_view_final.shape}")

Available WSKAZNIK values: ['EN Liczba jednostek gospodarczych '
 'PEN Liczba rentownych jednostek gospodarczych ' 'GS Przychody ogółem '
 'PNPM Przychody netto '
 'GS (I) Przychody netto ze sprzedaży i zrównane z nimi '
 'Przych. fin. Przychody finansowe ' 'PPO Pozostałe przychody operacyjne '
 'NP Wynik finansowy netto (zysk netto) '
 'OP Wynik na działalności operacyjnej ' 'POS Wynik na sprzedaży '
 'CF Nadwyżka finansowa ' 'TC Koszty ogółem '
 'OFE Pozostałe koszty finansowe ' 'IP Odsetki do zapłacenia '
 'DEPR Amortyzacja ' 'IO Wartość nakładów inwestycyjnych '
 'NWC Kapitał obrotowy ' 'C Środki pieniężne i pap. wart. '
 'LTL Zobowiązania długoterminowe ' 'STL Zobowiązania krótkoterminowe '
 'LTC Długoterminowe kredyty bankowe '
 'STC Krótkoterminowe kredyty bankowe ' 'INV Zapasy '
 'REC Należności krótkoterminowe ' 'Upadłość']
Filtered by wskazniki: ['EN Liczba jednostek gospodarczych ', 'NP Wynik finansowy netto (zysk netto) ']

,rok,wartosc,WSKAZNIK_INDEX,PKD_INDEX,WSKAZNIK
0,2005,46396.00,3,1756.0,EN Liczba jednostek gospodarczych
7,2005,63823.24,11,1756.0,NP Wynik finansowy netto (zysk netto)
24,2005,1500.00,3,1741.0,EN Liczba jednostek gospodarczych
31,2005,279.51,11,1741.0,NP Wynik finansowy netto (zysk netto)
48,2005,1429.00,3,0.0,EN Liczba jednostek gospodarczych

Shape: (34880, 5)